<%= render 'partials/banner' %>
<section>
    <p></p>
    <h2 class='home-header mt-4'>Send Assessment to EHR</h2>
        <form class='send-ehr-form' action="/ehr_send" accept-charset="UTF-8" method="get">
            <button id="ehr-send-submit" class="center" type="submit">
                Send
                <%= image_tag "white_spinner.svg", alt: "loading", class: "white-spinner collapse"%>
            </button>
        </form>
</section>