<%= render 'partials/banner' %>

<h2 class='home-header mt-5'>Whoops! Submission failed.</h2>

<div class="submission-error">
    <a class="btn btn-primary submission-error-option" href='/'>Home</a>
</div>