<div class="banner" id="banner">
    <a href="/" class="banner-content">
        <%#= image_tag "logo_placeholder.png", class: "logo" %>
        DEL FHIR Client
    </a>
    <a href="/about" class="about">
        <div class="banner-about">
            About
        </div>
    </a>
</div>

<table>
    <tr>
        <th>Form</th>
        <th>ID</th>
        <th>Title</th>
    </tr>
    <% @qs.each_pair do |form, items| %>
        <% items.each do |item| %>
            <tr>
                <td><%= form -%></td>
                <td><%= item.prefix -%></td>
                <td><%= item.text -%></td>
            </tr>
        <% end %>
    <% end %>
</table>