<%= render 'partials/banner' %>

<h2 class='home-header mt-5'>Whoops! Patient search failed.</h2>

<div class="search-patient-error">
    <a class="btn btn-primary search-patient-error-option" href='/'>Try again</a>
</div>