<div class="banner" id="banner">
    <a class="float-right banner-btn-gray" href="/">
        <div class="banner-btn-content">Home</div>
    </a>
    <div class="banner-content">Whoops! Questionnaire not found.</div>
</div>

<div class="error-go-home-container">
    <a class="btn btn-primary error-go-home" href='/'>Back Home</a>
</div>