<div class="banner" id="banner">
    Choose Patient Transfer Questionnaire
</div>
<% @questionnaireHash["entry"].each do |entries| %>
    <% id = entries["resource"]["id"] %>
    <%= link_to id, {controller: "questionnaire", version: id}, {class: "btn btn-primary questionnaire-option", id: id} %>
<% end %>
