<%= render 'partials/banner' %>

<%= render 'partials/search' %>

<div class='qop-container-blue'>
    <div class="home-cards-container">
        <div class="cards-title-grid">
            <div class="toggle-width"></div>
            <h2 class="home-header mb-1">Choose a DEL assessment to fill out</h2>
            <div class='toggle-width'>
                <input type="checkbox" checked class="code-toggle" data-toggle="toggle" 
                        data-on="CMS" data-off="LOINC" data-onstyle="primary" data-offstyle="success">
            </div>
        </div>
        <div class="search-cards-grid">
            <div class="search-result-width"></div>
            <input class="form-control card-search" placeholder="Narrow assessment options">
            <div class="search-result-width">
                <p class="search-result-counter collapse">Search Results: <strong>0</strong></p>
            </div>
        </div>
        <div class="home-browse-cards collapse show">
            <h3>Hey this is the browse section</h3>
        </div>
        <div class="home-search-cards collapse">
            <% (@qssActive + @qssInactive).each do |qv| %>
                <%= render 'partials/form_card', qv: qv %>
            <% end %>
        </div>
    </div>
</div>