<div class="banner" id="banner">
    <div class="banner-content">Choose Patient Transfer Questionnaire</div>
</div>

<h3 style="margin: 5pt"> Active </h3>
<% inactiveVersions = Array.new %>

<% @questionnaires.sort_by{ |questionnaire| questionnaire.name }.each do |q| %>
    <% displayName = q.name + " (v." + q.version + ")"%>
    
    <% if q.status.eql?("active") %>
        <%= link_to displayName, {controller: "questionnaire", version: q.id},
            {class: "btn btn-primary questionnaire-option", id: q.id} %>
    <% else %>
        <% inactiveVersions.append({"id"=>q.id, "dn"=>displayName})%>
    <% end %>

<% end %>

<div class="home-inactive-section">
    <h3 style="margin: 5pt"> Inactive (Draft, Retired, etc.) </h3>
    <% inactiveVersions.sort_by{ |entry| entry["dn"] }.each do |entry| %>
        <%= link_to entry["dn"], {controller: "questionnaire", version: entry["id"]},
            {class: "btn btn-secondary questionnaire-option", id: entry["id"]} %>
    <% end %>
</div>