<%= render 'partials/banner' %>

<h2 class='home-header mt-5'>Whoops! No entry from FHIR server.</h2>

<div class="error-go-home-container">
    <a class="btn btn-primary error-go-home" href='/'>Try Again</a>
</div>