<div class="banner" id="banner">
    <div class="banner-content">Choose Patient Assessment</div>
</div>

<h3 style="margin: 5pt"> Active </h3>
<% inactiveVersions = Array.new %>

<% @questionnaireVersions.sort_by{ |version| version[:name] }.each do |v| %>
    
    <% if v[:status].eql?("active") %>
        <%= link_to v[:name].sub("MDS30", "MDS3.0"), 
            {controller: "questionnaire", version: v[:id]},
            {class: "btn btn-primary questionnaire-option", id: v[:id]} %>
    <% else %>
        <% inactiveVersions.append(v)%>
    <% end %>

<% end %>

<div class="qmenu-inactive-section">
    <h3 style="margin: 5pt"> Inactive (Draft, Retired, etc.) </h3>
    <% inactiveVersions.sort_by{ |v| v[:name] }.each do |v| %>
        <%= link_to v[:name].sub("MDS30", "MDS3.0"), 
            {controller: "questionnaire", version: v[:id]},
            {class: "btn btn-secondary questionnaire-option", id: v[:id]} %>
    <% end %>
</div>