<div class="banner" id="banner">
    <a class="float-right banner-btn-gray" href="/">
        <div class="banner-btn-content">Home</div>
    </a>
    <div class="banner-content">Whoops! Submission failed. Where to?</div>
</div>

<div class="submission-error-container">
    <a class="btn btn-primary submission-error-option" href='/'>Questionnaire<br>(keeps progress)</a>
    <a class="btn btn-primary submission-error-option" href='/'>Home<br>(loses progress)</a>
</div>