<div class="banner" id="banner">
    <a class="float-right banner-btn-gray" href="/">
        <div class="banner-btn-content">Home</div>
    </a>
    <div class="banner-content">Whoops! Submission failed.</div>
</div>

<div class="submission-error">
    <a class="btn btn-primary submission-error-option" href='/'>Home</a>
</div>