<div class="banner" id="banner">
    <a href="/" class="banner-content">
        <%#= image_tag "logo_placeholder.png", class: "logo" %>
        DEL FHIR Client
    </a>
    <a href="/about" class="about">
        <div class="banner-about">
            About
        </div>
    </a>
</div>

<%= image_tag "placeholder.jpg", class: "descriptive-graphic" %>
