/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 *= require bootstrap-toggle
 */

@import 'bootstrap';

:root{
    --inactive-color: #DDDDDD;
}

.page-location-container {
    width: calc(100% - 5pt);
    padding: 5pt 0 0 5pt;
}

.home-icon {
    height: 20pt;
    width: 20pt;
}

.search-container {
    display: block;
    padding: 0 15% 40pt;
}

.search-form {
    display: flex;
}

.search-dropdown {
    width: 120pt;
    margin-right: 3pt;
}

.qop-container-blue, 
.qop-container-green {
    padding-top: 8pt;
    border-width: 2pt;
    border-style: solid;
}

.qop-container-blue {
    border-color: var(--blue);
    background-color: #F0F7FF;
}

.qop-container-green {
    border-color: var(--green);
    background-color: #F0FAF2
}

.questionnaire-option {
    margin: 5pt 0pt 5pt 5pt;
    font-size: 14pt;
}

.inactive-section,
.active-section {
    padding-bottom: 20pt;
    padding-top: 7.5pt;
}

.inactive-section {
    background-color: var(--inactive-color);
}

.inactive-banner {
    background-color: var(--gray) !important;
}

.banner {
    padding: 0pt;
    color: white;
    font-size: 24pt;
    height: auto;
    overflow: auto;
    display: flex;
    background-color: var(--blue);
}

.banner-content,
.banner-content:hover,
.banner-content:active {
    padding: 5pt;
    margin-right: auto;
    cursor: pointer;
    color: white;
    font-size: 24pt;
    text-decoration: none;
}

a.about,
a.about:hover,
a.about:active {
    text-decoration: none;
    color: white;
}

.banner-about,
.banner-about:hover,
.banner-about:active {
    margin: auto 15pt;
    font-size: 14pt;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline;
}

.logo {
    width: 40pt;
}

.banner-btn-content {
    padding: 5pt;
}

.banner-btn-blue,
.banner-btn-blue:hover,
.banner-btn-blue:active,
.banner-btn-gray,
.banner-btn-gray:hover,
.banner-btn-gray:active {
    margin: 0pt;
    padding: 0pt;
    text-decoration: none;
    color: white;
    border-bottom-left-radius: 5pt;
}

.banner-btn-blue {
    background-color: var(--blue);
}

.banner-btn-blue:hover,
a.about:hover {
    background-color: darken($blue, 5%);
}

.banner-btn-blue:active,
a.about:active {
    background-color: darken($blue, 10%);
}

.banner-btn-gray {
    background-color: var(--gray);
}

.banner-btn-gray:hover,
a.inactive-about:hover {
    background-color: darken(gray, 7.5%);
}

.banner-btn-gray:active,
a.inactive-about:active {
    background-color: darken(gray, 15%);
}

.assessment-toggles {
    display: flex;
    margin: 0 auto;
}

.toggle-section-inactive, 
.toggle-section-codes {
    text-align: center;
    margin: auto; 
}

.current-code-cms {
    color: var(--blue) !important;
}

.current-code-loinc {
    color: var(--green);
}

.description {
    padding: 0 5pt;
}

.description > p {
    margin-bottom: 0;
}

.error-go-home-container {
    width: 100%;
    margin: 50pt 0;
    text-align: center;
}

.error-go-home {
    margin: auto;
    font-size: 24pt;
}

.page-change-container,
.questionnaire-error-container {
    width: 100%;
    height: 40pt;
    margin: 50pt 0;
    text-align: center;
}

.page-change-option,
.questionnaire-error-option {
    width: 44%;
    height: 100%;
    margin: 0 2%;
    font-size: 20pt;
    padding-left: 1pt;
    padding-right: 1pt;
}

.no-questions{
    padding: 50pt 0;
    text-align: center;
}

.no-search-results {
    padding: 15pt 0;
    text-align: center
}

.submission-error,
.submit-btn-container {
    text-align: center;
    margin-bottom: 20pt;
}

.submission-error-option,
.submit-btn {
    width: 50%;
    padding: 10pt;
    margin-bottom: auto;
    font-size: 20pt;
}

.submission-error-option {
    margin-top: 50pt;
}

.date-input {
    width: 30%;
    margin-right: 3.3%;
}

.day,
.month,
.year {
    width: 100%;
}

.radio-label,
input[type=radio] {
    margin-top: auto;
    margin-bottom: auto;
}

.radio-label {
    margin-left: 3pt;
}

.date-input > label {
    margin-bottom: 0;
}

#qr {
    border-collapse: collapse;
    width: 95%;
    margin: 20pt auto;
}
td, th {
  border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form.button_to {
    display: inline;
}

.descriptive-graphic {
    margin: 40pt auto;
    display: block;
}

.card-search {
    max-width: 250pt;
    min-width: 200pt;
    margin: 0;
}

.home-cards-container {
    width: 100%;
    padding: 0 15pt;
}

.home-cards-header,
.home-header {
    width: 100%;
    text-align: center;
    margin: 8pt 0 12pt;
}

.cards-title-grid,
.search-cards-grid {
    margin: auto;
    display: grid;
    text-align: center;
}

.cards-title-grid {
    grid-template-columns: auto auto auto;
}

.search-cards-grid {
    grid-template-columns: auto minmax(auto, 125pt) min-content minmax(auto, 125pt) auto;
    margin-bottom: 8pt;
}

.toggle-width {
    width: 75pt;
    margin: auto 0 auto auto;
}

.search-result-width {
    min-width: 75pt;
    max-width: 125pt;
}

.search-result-counter{
    text-align: left;
    margin: auto auto auto 5pt;
}

span.toggle-handle {
    background-color: white;
}

.home-browse-cards-section,
.home-search-cards {
    display: flex;
    overflow: scroll;
}

.home-browse-section-header {
    text-align: center;
    text-decoration: underline;
    margin: 25pt auto 15pt; 
}

.active-cards,
.active-cards:hover,
.active-cards:active {
    margin: 0 30pt 15pt 0;
    min-width: 200pt;
    max-width: 200pt;
    color: black;
    text-decoration: none;
}

.active-cards:hover,
.active-cards:active {
    box-shadow: outset;
}

.disabled-card {
    cursor: not-allowed;
    background-color: #DDDDDD;
}

.qprogress {
    width: 95%;
    margin: 10pt 2.5%;
}

.submission-confirmation {
    margin: 50pt 0 30pt;
    text-align: center;
}

.submission-message {
    margin: 0 0 15pt;
    text-align: center;
}

.submission-download-row {
    width: 100%;
    display: inline-flex;
}

.submission-download-container {
    margin: 0 auto;
    display: inline-flex;
}

.submission-download {
    width: 250pt;
    margin: 0 20pt;
    text-decoration: none;
    color: white;
    font-size: 30pt;
    text-align: center;
    border-radius: 5pt;
}

.submission-download:hover,
.submission-download:active {
    color: white;
    text-decoration: none;
}

.search-table-container {
    width: 100%;
    padding: 0 25pt 25pt;
}

.search-table {
    width: 100%;
}

.search-table-col-assessment {
    min-width: 90pt;
}

.search-table-col-id {
    max-width: 75pt;
}

.white-spinner {
    width: 15pt;
    height: 15pt;
}