/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

@import 'bootstrap';

:root{
    --inactive-color: #DDDDDD;
}

.questionnaire-option {
    margin: 5pt 0pt 5pt 5pt;
    font-size: 14pt;
}

.inactive-section,
.active-section {
    padding-bottom: 20pt;
    padding-top: 7.5pt;
}

.qmenu-inactive-section {
    padding: 1pt 2pt 2pt 2pt;
    margin-top: 5pt;
}

.inactive-section,
.qmenu-inactive-section {
    background-color: var(--inactive-color);
}

.inactive-banner {
    background-color: var(--gray) !important;
}

.banner {
    padding: 0pt;
    background-color: var(--blue);
    color: white;
    font-size: 24pt;
    height: auto;
    overflow: auto;
}

.banner-content {
    padding: 5pt;
}

.banner-btn-content {
    padding: 5pt;
}

.banner-btn-blue,
.banner-btn-blue:hover,
.banner-btn-blue:active,
.banner-btn-gray,
.banner-btn-gray:hover,
.banner-btn-gray:active {
    margin: 0pt;
    padding: 0pt;
    text-decoration: none;
    color: white;
    border-bottom-left-radius: 5pt;
}

.banner-btn-blue {
    background-color: var(--blue);
}

.banner-btn-blue:hover {
    background-color: darken($blue, 5%);
}

.banner-btn-blue:active {
    background-color: darken($blue, 10%);
}

.banner-btn-gray {
    background-color: var(--gray);
}

.banner-btn-gray:hover {
    background-color: darken(gray, 7.5%);
}

.banner-btn-gray:active {
    background-color: darken(gray, 15%);
}

.description {
    padding: 5pt 5pt 3pt 5pt;
}

.description > p {
    margin-bottom: 0;
}

.error-go-home-container {
    width: 100%;
    margin: 50pt 0;
    text-align: center;
}

.error-go-home {
    margin: auto;
    font-size: 24pt;
}

.page-change-container,
.questionnaire-error-container {
    width: 100%;
    height: 40pt;
    margin: 50pt 0;
    text-align: center;
}

.page-change-option,
.questionnaire-error-option {
    width: 44%;
    height: 100%;
    margin: 0 2%;
    font-size: 20pt;
    padding-left: 1pt;
    padding-right: 1pt;
}

.no-questions {
    padding: 50pt 0;
    text-align: center;
}

.submission-error,
.submit-btn-container {
    text-align: center;
    margin-bottom: 20pt;
}

.submission-error-option,
.submit-btn {
    width: 50%;
    padding: 10pt;
    margin-bottom: auto;
    font-size: 20pt;
}

.submission-error-option {
    margin-top: 50pt;
}

.date-input {
    width: 30%;
    margin-right: 3.3%;
}

.day,
.month,
.year {
    width: 100%;
}

.radio-label,
input[type=radio] {
    margin-top: auto;
    margin-bottom: auto;
}

.radio-label {
    margin-left: 3pt;
}

.date-input > label {
    margin-bottom: 0;
}

#qr {
    border-collapse: collapse;
    width: 95%;
    margin: 20pt auto;
}
td, th {
  border: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

form.button_to {
    display: inline;
}

.descriptive-graphic {
    margin: 40pt auto;
    display: block;
}

.home-active-cards-container {
    width: 100%;
    padding: 0 30pt 0 30pt;
}

.home-active-cards-header {
    width: 100%;
    text-align: center;
    margin: 20pt 0 25pt 0;
}

.home-active-cards {
    display: flex;
    overflow: scroll;
}

.active-cards,
.active-cards:hover,
.active-cards:active {
    margin: 0 30pt 15pt 0;
    min-width: 180pt;
    max-width: 180pt;
    color: black;
    text-decoration: none;
}

.active-cards:hover,
.active-cards:active {
    box-shadow: outset;
}

.qmenu-link {
    text-align: center;
}

.qprogress {
    width: 95%;
    margin: 10pt 2.5%;
}